* {
    margin: 0;
    padding: 0;
    /* background-color: aquamarine; */
}
.bar {
    display: inline-block;
    background-color: blue;
}
.bar:hover{
    fill: red;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

}
#container{
    text-align: center;
}
svg{
    background-color: pink;

}
.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }