* {
    margin: 0;
    padding: 0;
}
body {
    background: #f2f9f1;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#svgBox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}
#container{
    text-align: center;
}
svg{
    background-color: #ddeedf;
    box-shadow: #5c715e 0px 7px 29px 0px;
}
.bar:hover{
    fill: #b6cdbd;
}
#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: #f2f9f1;
    box-shadow:#5c715e 1px 1px 10px;
}