* {
    margin: 0;
    padding: 0;
    /* background-color: aquamarine; */
}
/* .bar {
    display: inline-block;
    background-color: blue;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* #container{
    background-color: antiquewhite;
    height: 600px;
    width: 800px;
} */
/* svg{
    background-color: pink;
} */